@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* Barra Inicial */
header {
    width: 100%;
    height: 100vh;
    /* background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://www.teahub.io/photos/full/208-2081147_fondos-de-pantalla-full-hd-colores.jpg); */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./img/IMG_20221028_164032.jpg);
    background-position: center;
    background-size: cover;
    /* transition: all 4s; */
}

nav {
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px;
    font-size: 1.2rem;
    transition: all 2s;

}

.menu a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    color: white;
}

.menu a:hover {
    color: cyan;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #f9004d;
    transition: all .5s;

}

/* Fin Barra Inicial */

/* Inicio Texto Inicial */
.inicio {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 80vh;
    color: white;
    /* align-items: center; */
    justify-content: center;
    text-align: justify;
    /* padding: 0 20px; */
    margin-left: 100px;
    float: left;
    transition: all 10s;

}

/* INICIO TAMANO TEXT INICIO */
.inicio h1 {
    font-size: 5rem;
    transition: all 5s;
    color: cyan;
}

.inicio p {
    font-size: 1.3rem;
}

/* FIN TAMANO TEXT INICIO */


.imagenp {
    display: flex;
    width: 50%;
    height: 80vh;
    float: right;
    justify-content: center;
    align-items: center;
}

.imagenp img {
    height: 26rem;
    border-radius: 30px 0 30px;
    border: 1px solid white;
}

/* About INICIO */

.about {
    width: 100%;
    height: 100vh;
    padding: 78px 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./img/IMG_20221028_153652.jpg);
    background-position: top;
    background-size: cover;
    transition: all .3s;
}

.about img {
    height: auto;
    width: 350px;
    border-radius: 10px 0 10px 0;
}

.about-text {
    width: 90%;
}

.main {
    width: 1130px;
    max-width: 95%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-text h1 {
    color: white;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: #f9004d;
}


.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1rem;
    margin-bottom: 45px;
    text-align: justify;
}

button {
    background: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* About FINAL */

/* DESCARGA CV INICIO */
.CV {
    color: white;
    text-decoration: none;
    padding: 15px;
    background-color: #f9004d;
    border-radius: 0 15px;
}

/* DESCARGA CV FINAL */

/* CV INICIO HOVER */
.CV:hover {
    background-color: transparent;
    border: 1px solid white;
    transition: all 1s;
}

/* CV FINAL HOVER */


/* Proyectos INICIO */
.Proyectos {
    /* background-color: #e5e5f7; */
    /* opacity: 0.8; */
    /* background: #C9CCD3; */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./img/pro1/fondoo.avif);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.mainpro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PRIMER */
.primer {
    height: 70%;
    width: 100%;
    /* border: 1px solid #f9004d; */
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);   
   
}
    .primer h1 {
    margin: 10px;
    color: black;
}

.primer p {
    margin: 10px;
    padding: 10px;
    color: black;
}

.primer a {
    margin: 20px;
    padding: 5px;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border-radius: 10px 0px;
}


.primer img {
    height: 30rem;
    width: 50rem;
    border-radius: 10px;
}



.primer a:hover {
    border-radius: 0;
    transition: all 1s;
    background-color: transparent;
    border: 1px solid #f9004d;
    color: black;
}

/* PRIMER FINAL*/



/* Proyectos FINAL */


/* MEDIAS PANTALLA */
@media(max-width:715px) {
    nav {
        flex-direction: column;
        text-align: center;
        flex-direction: row;
    }
}


/* 375px */
@media(max-width:375px) {
    nav {
        flex-direction: column;
        text-align: center;
        letter-spacing: 7px;
    }



    
    .menu a{
        font-size: 20px;
    }


    .inicio h1 {
        font-size: 2rem;
    }


    .inicio p {
        font-size: .8rem;
    }


    .imagenp {
        display: none;
    }

    .inicio {
        display: flex;
        padding: 10px;
        flex-direction: column;
        width: 100vw;
        height: 80vh;
        margin-left: 0px;

    }

}


/* 375px */

@media(max-width:414px) {
    nav {
        flex-direction: column;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        letter-spacing: 7px;
        /* margin: 10px; */
    }

    .menu a{
        font-size: 20px;
    }

}

@media(max-width:616px) {
    nav {
        flex-direction: column;
        font-size: 20px;
        text-align: center;

    }

}


@media(max-width:414px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .inicio h1 {
        font-size: 3rem;
    }


    .inicio p {
        font-size: 1rem;
    }


    .imagenp {
        display: none;
    }

    .inicio {
        display: flex;
        padding: 10px;
        flex-direction: column;
        width: 100vw;
        height: 80vh;
        margin-left: 0px;

    }

    header {
        width: 100%;
        height: 100vh;
        /* background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://www.teahub.io/photos/full/208-2081147_fondos-de-pantalla-full-hd-colores.jpg); */
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./img/IMG_20221028_164032.jpg);
        background-position: center;
        background-size: cover;
        /* transition: all 4s; */
    }

}

/* MEDIAS ABOUT */
@media(max-width:414px) {
    .imgp {
        display: none;
    }

    .about-text {
        width: 100%;
    }

    .Proyectos {
        flex-direction: column;
    }

}

/* Media Primer Pro */
@media(max-width:414px) {

    .Proyectos {
        flex-direction: column;
        width: 100%;
    }

    .primer img {
        width: 100%;
        height: 50%;
    }

    .primer {
        height: 50%;
        width: 90%;
        border: 1px solid #f9004d;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
    
    }

}


@media(max-width:1342px) {

    .Proyectos {
        flex-direction: column;
        width: 100%;
    }

    .primer img {
        width: 100%;
        height: 50%;
    }

    .primer {
        height: 50%;
        width: 90%;
        border: 1px solid #f9004d;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
    
    }

}

/* Final Media Pro */

/* 
@media screen and (max-width: 995px), 
       screen and (max-height: 700px) {
  ...
} */